__pycache__/
*.pyc
.venv/
venv/

dist/*
!dist/.gitkeep

build/pyinstaller/*
!build/pyinstaller/.gitkeep

results/json/*
!results/json/.gitkeep
results/reports/*
!results/reports/.gitkeep
results/tables/*
!results/tables/.gitkeep

*.spec
